<ion-header>
  <ion-toolbar>
    <ion-title>eliminar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let azucar of array">
     
    <ion-item>
     <ion-label position="stacked">Cedula</ion-label>
     <ion-input disabled="true" [(ngModel)]="datos.cedula" name="Nombre"> {{azucar.CEDULA}}</ion-input>
   </ion-item>
   <ion-item>
     <ion-label position="stacked">Nombre</ion-label>
     <ion-input disabled="true" [(ngModel)]="datos.nombre" name="Contraseña">{{azucar.NOMBRE}}</ion-input>
   </ion-item>
   <ion-item>
     <ion-label position="stacked">Apellido</ion-label>
     <ion-input disabled="true" [(ngModel)]="datos.apellido" name="Contraseña">{{azucar.APELLIDOS}}</ion-input>
   </ion-item>
   <ion-item>
     <ion-label position="stacked">Telefono</ion-label>
     <ion-input disabled="true" [(ngModel)]="datos.telefono" name="Contraseña">{{azucar.TELEFONO}}</ion-input>
   </ion-item>
   <ion-item>
       <ion-label position="stacked">Fecha De Registro</ion-label>
       <ion-input disabled="true" [(ngModel)]="datos.fecha" name="Contraseña">{{azucar.FECHA_REGISTO}}</ion-input>
   </ion-item>
   <ion-item>
       <ion-label position="stacked">Ciudad</ion-label>
       <ion-input disabled="true" [(ngModel)]="datos.ciudad" name="Contraseña">{{azucar.CIUDAD}}</ion-input>
     </ion-item>
     <ion-item>
       <ion-label position="stacked">Referencia</ion-label>
       <ion-input disabled="true" [(ngModel)]="datos.referencia" name="Contraseña">{{azucar.REFERENCIA_PERSONAL}}</ion-input>
     </ion-item>
     <ion-item>
       <ion-label position="stacked">Direccion</ion-label>
       <ion-input disabled="true" [(ngModel)]="datos.direccion" name="Contraseña">{{azucar.DIRECCION}}</ion-input>
     </ion-item>
 </ion-card>

</ion-content>
