*{
    text-align: center;
    --text-align: center;
}

h3{
    text-align: center;
    font-weight: bold;
    color: rgb(116, 116, 116);
    border-left: solid 1px #098127;
    border-right: solid 1px #098127;
    height: 70%;
}

.f{
    color: rgb(255, 255, 255);
}

ion-button{
    margin-bottom: 5%;
    width: 100%;
    font-weight: bold;
    height: 95%;
}

ion-content{
    --background: rgb(26, 26, 26) ;
    text-align: center;
    
}

ion-label{
    color: rgb(116, 116, 116);
}


ion-card{
    background: rgba(20, 20, 20, 0.719);
    color: #ffffff;
    padding: 3%;
    width: 95%;
    height: auto;
    display: block;
    left: 1%;
    margin-top:3%;
}

ion-item {
    font-size: 17px;
    text-align: center;
    --background: #0000006e;
    --color: #ffffff;
    width: 100%;
    h4{
        text-align: center;

    }
}
ion-input{
    --text-align: center;
    height: 50px;
}

ion-col {
    --ion-grid-column-padding: 0px;
}


ion-button{
    ion-icon {
        font-size: 25px;
     }

}

.dos {
    --background: #098127;
    --background-activated: #098127;
    width: 38px; 
    height: 38px;
    margin-left: 40%;
    ion-icon {
        font-size: 25px;
     }
}

h2{
    text-align: center;
    font-weight: bold;
}

img{
    width: 25%;
    height: auto;
    margin:38%;
    margin-bottom: 0%;
    margin-top: 30%;
}